[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinytuya = '>=1.15.1'
prometheus-client = '>=0.21.0'
schedule = ">=1.2.2"

[dev-packages]

[requires]
python_version = "3.11"
